version: "3.9"

services:
  mysql:
    image: mysql:8
    container_name: chat-mysql
    environment:
      MYSQL_ROOT_PASSWORD: MySql@123
      MYSQL_DATABASE: realtimechat
    ports:
      - "3307:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-pMySql@123"]
      interval: 5s
      timeout: 5s
      retries: 10
    volumes:
      - mysql_data:/var/lib/mysql

  redis:
    image: redis:7.0-alpine
    container_name: chat-redis
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 10
    volumes:
      - redis_data:/data

  prometheus:
    image: prom/prometheus:latest
    container_name: chat-prometheus
    depends_on:
      chat-app:
        condition: service_started
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro

  grafana:
    image: grafana/grafana:latest
    container_name: chat-grafana
    depends_on:
      - prometheus
    ports:
      - "3000:3000"
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
    volumes:
      - grafana-data:/var/lib/grafana

  chat-app:
    build: .
    container_name: real-time-chat-service
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      # Spring profile
      SPRING_PROFILES_ACTIVE: docker

      # Database
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/realtimechat?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: MySql@123
      SPRING_JPA_HIBERNATE_DDL_AUTO: update

      # Redis
      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: 6379

      # Actuator exposure for Prometheus in docker profile
      MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE: health,info,metrics,prometheus

    ports:
      - "8080:8080"
    restart: on-failure:5

volumes:
  mysql_data:
  redis_data:
  grafana-data:
